In [3]:
import pandas as pd
df=pd.read_csv(
    'C:/Users/Noela_tm/6000/eai6000_group5/Data/df_cat.csv')

In [4]:
df.head(10)

,txn_datetime,cc_num,merchant,category,amt,gender,city_pop,job,date_of_birth,year_of_birth,...,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,M,333497,Mechanical engineer,1968-03-19,1968,...,0,0,0,0,0,1,0,0,0,1
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,F,302,"Sales professional, IT",1990-01-17,1990,...,0,0,0,0,0,1,0,0,0,0
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,F,34496,"Librarian, public",1970-10-21,1970,...,1,0,0,0,0,0,0,0,0,0
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,M,54767,Set designer,1987-07-25,1987,...,0,0,0,0,1,0,0,0,0,1
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,M,1126,Furniture designer,1955-07-06,1955,...,0,0,0,0,0,0,0,0,1,1
5,2020-06-21 12:15:37,30407675418785,fraud_Daugherty LLC,kids_pets,19.55,F,520,Psychotherapist,1991-10-13,1991,...,0,0,1,0,0,0,0,0,0,0
6,2020-06-21 12:15:44,213180742685905,fraud_Romaguera Ltd,health_fitness,133.93,F,1139,"Therapist, occupational",1951-01-15,1951,...,1,0,0,0,0,0,0,0,0,0
7,2020-06-21 12:15:50,3589289942931264,fraud_Reichel LLC,personal_care,10.37,F,343,"Development worker, international aid",1972-03-05,1972,...,0,0,0,0,0,1,0,0,0,0
8,2020-06-21 12:16:10,3596357274378601,"fraud_Goyette, Howell and Collier",shopping_pos,4.37,M,3688,Advice worker,1973-05-27,1973,...,0,0,0,0,0,0,0,1,0,1
9,2020-06-21 12:16:11,3546897637165774,fraud_Kilback Group,food_dining,66.54,F,263,Barrister,1956-05-30,1956,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.drop([
    'cc_num',
    'merchant',
    'category',
    'amt',
    'last',
    'city_pop',
    'job',
    'date_of_birth',
    'year_of_birth',
    'gender',
    'txn_datetime',
    'txn_date',
    'distance',
    'Target',
    'age'
], axis=1, errors='ignore', inplace=True)
df.head()

,hour,day,month,year,is_fraud,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,12,21,6,2020,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,12,21,6,2020,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,12,21,6,2020,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,12,21,6,2020,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,12,21,6,2020,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [10]:
df.nunique()

hour                       24
day                        31
month                      12
year                        2
is_fraud                    2
category_food_dining        2
category_gas_transport      2
category_grocery_net        2
category_grocery_pos        2
category_health_fitness     2
category_home               2
category_kids_pets          2
category_misc_net           2
category_misc_pos           2
category_personal_care      2
category_shopping_net       2
category_shopping_pos       2
category_travel             2
gender_M                    2
dtype: int64

In [ ]:
df.sum

In [13]:
#Breaking it into two parts, separate the target variable from the other columns
X=df.drop('is_fraud',axis=1).copy()
X.head()

,hour,day,month,year,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,12,21,6,2020,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,12,21,6,2020,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,12,21,6,2020,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,12,21,6,2020,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,12,21,6,2020,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [14]:
y=df['is_fraud'].copy()
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.9 , stratify=y)

In [18]:
sum(y_train)/len(y_train)

0.00520948612333256

In [19]:
sum(y_test)/len(y_test)

0.0052100734484795954

In [20]:
print("Before Undersampling, counts of label '1': {}".format(sum(y_train == 1))) 
print("Before Undersampling, counts of label '0': {} \n".format(sum(y_train == 0))) 
  
# apply near miss 
from imblearn.under_sampling import NearMiss 
nr = NearMiss() 
  
X_train_miss, y_train_miss = nr.fit_sample(X_train, y_train.ravel()) 
  
print('After Undersampling, the shape of train_X: {}'.format(X_train_miss.shape)) 
print('After Undersampling, the shape of train_y: {} \n'.format(y_train_miss.shape)) 
  
print("After Undersampling, counts of label '1': {}".format(sum(y_train_miss == 1))) 
print("After Undersampling, counts of label '0': {}".format(sum(y_train_miss == 0)))

Before Undersampling, counts of label '1': 965
Before Undersampling, counts of label '0': 184274

After Undersampling, the shape of train_X: (1930, 18)
After Undersampling, the shape of train_y: (1930,)

After Undersampling, counts of label '1': 965
After Undersampling, counts of label '0': 965